<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css" />
    <script
      src="https://kit.fontawesome.com/7f7aea5a19.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div class="task">
      <div class="task__message">Hi</div>
      <div class="task__btns">
        <a class="btn-edit" href="#">
          <i class="fas fa-edit"></i>
        </a>

        <a class="btn-delete" href="#">
          <i class="fas fa-trash"></i>
        </a>
      </div>
    </div>
  </body>
</html>
